<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Edit Hat</h1>
      <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <label
          ><span>Name</span
          ><input type="text" name="name" value="<%=product.name%>" /></label
        ><br />
        <label
          ><span>Description</span
          ><input
            type="text"
            name="description"
            value="<%=product.description%>" /></label
        ><br />
        <label
          ><span>Image</span
          ><input type="text" name="img" value="<%=product.img%>" /></label
        ><br />
        <label
          ><span>Price</span
          ><input
            type="number"
            name="price"
            value="<%=product.price%>" /></label
        ><br />
        <label
          ><span>Quantity</span
          ><input type="number" name="qty" value="<%=product.qty%>" /></label
        ><br /><br />
        <input type="submit" value="Edit Hat" class="btn" />
      </form>
    </div>
  </body>
</html>
